<div class="page-wrapper">
  <youi-breadcrumb class="card breadcrumb">
    <youi-breadcrumb-item> Guide </youi-breadcrumb-item>
    <youi-breadcrumb-item> Getting Start </youi-breadcrumb-item>
  </youi-breadcrumb>

  <div class="card p-4">
    <div class="card-title">
      <span>How to install</span>
    </div>

    <app-code-tab [sample]="sampleCode.installPackage"></app-code-tab>
  </div>

  <div class="card p-4">
    <div class="card-title">
      <span>Import SVG Loaders</span>
    </div>

    <div class="description">
      <h3 class="description-title">
        <span class="material-icons description-title__icon">double_arrow</span> Append Below setting in "YOUR_PROJECT.architect.build.options.assets" of angular.json
      </h3>

      <div class="description-content">
        <app-code-tab [sample]="sampleCode.importSvgLoaders"></app-code-tab>
      </div>
    </div>
  </div>

  <div class="card p-4">
    <div class="card-title">
      <span>Import CSS</span>
    </div>

    <div class="description">
      <h3 class="description-title">
        <span class="material-icons description-title__icon">double_arrow</span> Import a CSS file for all components
      </h3>

      <div class="description-content">
        <app-code-tab [sample]="sampleCode.importAllCss"></app-code-tab>
      </div>
    </div>

    <div class="description">
      <h3 class="description-title">
        <span class="material-icons description-title__icon">double_arrow</span> Import a CSS file for a single component
      </h3>

      <div class="description-content">
        <app-code-tab [sample]="sampleCode.importOneCss"></app-code-tab>
      </div>
    </div>
  </div>

  <div class="card p-4">
    <div class="card-title">
      <span>Import Module</span>
    </div>

    <div class="description">
      <h3 class="description-title">
        <span class="material-icons description-title__icon">double_arrow</span> Import a module file for all components
      </h3>

      <div class="description-content">
        <app-code-tab [sample]="sampleCode.importAllModule"></app-code-tab>
      </div>
    </div>

    <div class="description">
      <h3 class="description-title">
        <span class="material-icons description-title__icon">double_arrow</span> Import a module file for a single component
      </h3>

      <div class="description-content">
        <app-code-tab [sample]="sampleCode.importOneModule"></app-code-tab>
      </div>
    </div>
  </div>
</div>