youi-expansion-menu-item {
  display: block;
}

.youi-expansion-menu-item {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

.youi-expansion-menu-item__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;

  transition: all ease 0.2s;
  padding: 12px 18px;
}
.youi-expansion-menu-item__header:hover {
  background-color: #efefef;
}

.youi-expansion-menu-item__header:active {
  background-color: #ddd;
}

.youi-expansion-menu-item__header:disabled, .youi-expansion-menu-item__header:disabled:hover {
  cursor: not-allowed;
  background-color: initial;
  color: #aaa;
}

.youi-expansion-menu-item__header__left {
  display: flex;
  align-items: center;
}

.youi-expansion-menu-item__header__left-prepend {
  padding-right: 8px;
}

.expansion-menu-item__header__right-icon {
  transition: all ease 75ms;
}

.youi-expansion-menu-item__header__right-icon--open {
  transform: rotate(180deg);
}

.youi-expansion-menu-item__content {
  text-align: initial;
  overflow: hidden;
}