youi-menu-item {
  display: block;
}

.youi-menu-item {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  transition: all ease 0.2s;
  padding: 12px 18px;
}

.youi-menu-item:hover {
  background-color: #efefef;
}

.youi-menu-item:active {
  background-color: #ddd;
}

.youi-menu-item:disabled, .youi-menu-item:disabled:hover {
  cursor: not-allowed;
  background-color: initial;
  color: #aaa;
}

.menu-item__left {
  display: flex;
  align-items: center;
}

.menu-item__left-prepend {
  padding-right: 8px;
}