youi-notification {
  display: flex;
  justify-content: flex-end;
}

.youi-notification {
  display: flex;
  flex: 0 1 auto;
  margin: 10px 0;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  font-size: 14px;
}

.youi-notification-icon {
  font-size: 1.5em;
}

.youi-notification-message {
  min-width: 150px;
  margin: 0 15px;
}

.youi-notification-title {
  font-size: 1.2em;
  margin-bottom: 1px;
  font-weight: bold;
}

.youi-notification-close {
  cursor: pointer;
  align-self: baseline;
  line-height: initial;

  margin-top: 2px;
  padding: 3px
}

.youi-notification_success {
  background-color: #4CAF50;
  color: white;
}

.youi-notification_info {
  background-color: #06B6D4;
  color: white;
}

.youi-notification_danger {
  background-color: #F44336;
  color: white;
}

.youi-notification_warning {
  background-color: #f9a825;
  color: white;
}