.loading-dialog-content {
  fill: white;
  stroke: white;
  color: white;
}

.loading-dialog-body {
  max-width: 300px;
  width: 100%;
  height: 200px;
}

.loading-dialog-spinner-backdrop {
  background-color: transparent;
}